<div class="entireForm">
  <h1 id="formInfo">Email Me</h1>

  <form [formGroup]="contactForm" class="form">
    <form ngNoForm action="https://formspree.io/f/mwkzrqqy" method="POST">
      <input
        type="email"
        name="email"
        formControlName="x`email"
        placeholder="Enter your email"
        class="emailBox"
      />
      <br />
      <span *ngIf="email?.invalid" class="errorText">Email is not valid</span>
      <span *ngIf="!email?.invalid" class="errorText"></span>
      <br />

      <textarea
        formControlName="body"
        name="body"
        type="text"
        placeholder="Message"
        class="messageBox"
        resize="none"
      ></textarea
      ><br />
      <span *ngIf="body?.invalid" class="errorText">No Message Written</span>
      <span *ngIf="!body?.invalid" class="errorText"></span>
      <br />

      <input
        [disabled]="!contactForm.valid"
        type="submit"
        value="Send"
        class="sendButton"
      />
    </form>
  </form>
</div>
