<div class="opener">
  <div class="containerTopside">
    <div class="rightsideText">
      <h1>Thomas Zheng</h1>
    </div>
    <div class="rightsideText2">
      <h2>get money</h2>
    </div>

    <div class="bottomsideButtons">
      <a href="https://github.com/ZhengThomas">
        <button class="button">Github</button>
      </a>
      <a href="mailto:mrthomaszheng@gmail.com">
        <button class="button">Email Me</button>
      </a>
    </div>
  </div>
</div>
<app-about-section></app-about-section>
