<div class="aboutSection">
  <h1 class = "aboutHeader">
    About
  </h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="center">
            <h2>Senior Student at Fleetwood Park Secondary</h2>
            <h2>Full stack web developer</h2>
            <h2>In love with volleyball</h2>
            <h2>Highly open to new opportunities</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "redBox" [ngStyle]="{'transform': 'rotate(' + rotation + 'deg)'}"></div>
</div>
